.btn-round {
    width: 5%;
    height: auto;
    border-radius: 50%;
}

body{
    background : white;
}

header
{
    background: #9DBCA6;
}

h1
{
    color: white;
    font-family: 'Dosis', cursive;
    font-size:   3.0em;
}

.subtitles
{
    font-family: 'Dosis', 'sans-serif';

    font-size: 1em;
    text-transform: capitalize;
    color : #50424B;
}

.elements
{
    font-family: 'Raleway', sans-serif;
        color : #fd7336;

    font-size: 2em;
    font-weight:bold;
}
